.main-header__container {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding: 0 110px;
  }
}
